@import url("https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&family=Poppins:wght@400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

li,
a,
h1,
h2,
span {
  font-family: "Edu TAS Beginner", cursive;
}

.active {
  background-color: rgb(192, 147, 255);
  padding: 10px;
  border-radius: 10px;
}

a.active-content {
  border-bottom: 1px solid;
  padding-bottom: 3px;
}
